[submodule "surfjudge-actix"]
	path = surfjudge-actix
	url = ssh://git@gitlab.pidario.nsupdate.info:10022/dario/surfjudge-actix.git
[submodule "surfjudge-pyramid"]
	path = surfjudge-pyramid
	url = ssh://git@gitlab.pidario.nsupdate.info:10022/dario/surfjudge-pyramid.git
[submodule "surfjudge-vue-frontend"]
	path = surfjudge-vue-frontend
	url = ssh://git@gitlab.pidario.nsupdate.info:10022/dario/surfjudge-vue-frontend.git
[submodule "surfjudge-rust-websocket-server"]
	path = surfjudge-rust-websocket-server
	url = ssh://git@gitlab.pidario.nsupdate.info:10022/surfjudge-dev/surfjudge-rust-websocket-server.git
