[submodule "surfjudge-actix"]
	path = surfjudge-actix
	url = https://github.com/dariogoetz/surfjudge-actix.git
[submodule "surfjudge-pyramid"]
	path = surfjudge-pyramid
	url = https://github.com/dariogoetz/surfjudge-pyramid.git
[submodule "surfjudge-vue-frontend"]
	path = surfjudge-vue-frontend
	url = https://github.com/dariogoetz/surfjudge-vue-frontend.git
[submodule "surfjudge-rust-websocket-server"]
	path = surfjudge-rust-websocket-server
	url = https://github.com/dariogoetz/surfjudge-rust-websocket-server.git
